<h1 class="Login-title H3-R">Welcome back</h1>

<div class="Login-formContainer">
  <%= form_for(:session, url: login_path, method: :post) do |f| %>
    <%= f.label "Email address" %> <br>
    <%= f.text_field :email, id: 'email' %> <br>
    <%= f.label "Password" %> <br>
    <%= f.password_field :password %> <br> <br>
    <%= f.submit "Login", class: "btn login btn-primary" %> or
      <span>
        <%= f.submit "Log in with Facebook", class: "btn login btn-primary"%> <br>
      </span>
    We'll never post without permission.
  <% end %>
</div>
