<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h4>These are the services you provide</h4>
        <% @services.each do |service| %>
          <%= service.name %><br>
        <% end %> <br> <br>
        <h4>And the distance you are willing to travel to perform them</h4>
       <%= @radius %> Miles
      <h2>Create your account</h1>
    </div>
  </div>
  <div class="form-signin">
    <%= bootstrap_form_for(@pro, url: pro_index_path, method: :post) do |f| %>
      <h4>Account Info</h4>
      <%= f.text_field :first_name, placeholder: "First Name", id: "first_name", value: @oauth_info.first_name%>
      <%= f.text_field :last_name, placeholder: "Last Name", id: "last_name", value: @oauth_info.last_name%>
      <%= f.text_field :zipcode, placeholder: 'Enter Zip Code', id: "zip_code"%>
      <%= f.text_field :phone_number, placeholder: 'Enter Phone Number', id: "phone_number"%>
      <%= f.text_field :email, placeholder: "Email", id: "email", value: @oauth_info.email%>
      <%= f.password_field :password, placeholder: "Password" %>
      <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %>
      <%= f.submit "Create Account", class: "btn login btn-primary" %>
    <%end%> <br>

    <%= link_to "Sign Up With Facebook", '/auth/facebook?user_type=pro', class: "btn login btn-primary" %>
  </div>

  <div class="ZipRadiusMapContainer">
    
    <div id='map'></div>
        <script>
            function initMap() {
            var location = {lat: 40.0, lng: -105.27};
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 12,
              center: location
            });
            var marker = new google.maps.Marker({
              position: location,
              map: map
            });
            }
        </script>

        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["google_api_key"] %>&callback=initMap">
        </script>
  </div>
</div>
