<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Create your account</h1>
    </div>
  </div>
  <div class="form-signin">
    <%= bootstrap_form_for(@user, url: register_path, method: :post) do |f| %>
    <%= f.text_field :first_name, placeholder: "First Name", id: "first_name", value: @oauth_info.first_name%><br>
    <%= f.text_field :last_name, placeholder: "Last Name", id: "last_name", value: @oauth_info.last_name%><br>
    <%= f.text_field :zipcode, placeholder: 'Enter Zip Code', id: "zip_code"%><br>
    <%= f.text_field :phone_number, placeholder: 'Enter Phone Number', id: "phone_number"%><br>
    <%= f.text_field :email, placeholder: "Email", id: "email", value: @oauth_info.email%><br>
    <%= f.password_field :password, placeholder: "Password" %><br>
    <%= f.password_field :password_confirmation, placeholder: "Confirm Password", label: "Confirm Password" %><br>
    <%= f.submit "Create Account", class: "btn login btn-primary" %>
    <% end %>
  </div>
  <div class="row text-center or">
    <p>or</p>
  </div>
  <div class="row text-center">
    <div class="facebook-login">
      <%= button_to facebook_login_path, :method => "get", class: "facebook-button" do %>
        <i class="fa fa-facebook"></i> | Sign up with Facebook
      <% end %>
    </div>
  </div>
</div>
