<h1> <%= @project.service.name%> </h1 >
<h2 id="project-status"> Status: <%= @project.status%> </h2 >

<div class="bids">
    <% @project.bids.each do |bid| %>
      <div class="bid">
        <ul>

          <li>Amount: <%= bid.amount %></li>
          <li>Discussion: <%= bid.comment %></li>
          <li > <button id="accept-bid">Accept Bid</button> <%#= button_to "Accept Bid", hire_project_path(@project.service.slug, @project.id, project: {status: "accepted"}), method: :put, class: "btn btn-primary" %></li>
        </ul>
      </div> <br><br><br>
    <% end %>
</div>

<script type="text/javascript">
  $('#accept-bid').on('click', function() {
    function updateStatus() {
      return $.ajax({
        url: "http://localhost:3000/" + "hire/" + '<%=@project.service.slug%>' + '/' + '<%=@project.id %>',
        method: 'PUT',
        dataType: 'json',
        data: { project: { id: <%= @project.id %>, status: 'accepted'} },
      }).done(function(data) {
        // debugger;
        $("#project-status").html("").append('Status: accepted')
      }).fail(function(error) {
        console.log(error)
      })
    }
    updateStatus()
  })
</script>
