
<div class="form-signin login-session">
  <p>We tried to fill in as much as we could, but we'll need your help to complete your sign up!</p>

  <%= bootstrap_form_for(@user, url: register_path, method: :post) do |f| %>
    <%= f.text_field :first_name, value: name[:first], placeholder: "First Name", id: "first_name"%>
    <%= f.text_field :last_name,  value: name[:last], placeholder: "Last Name", id: "last_name"%>
    <%= f.text_field :zipcode, placeholder: 'Enter Zip Code', id: "zip_code"%>
    <%= f.text_field :phone_number, placeholder: 'Enter Phone Number', id: "phone_number"%>
    <%= f.text_field :email, value: @omniauth_info['info']['email'], placeholder: "Email", id: "email"%>
    <%= f.submit "Create Account", class: "btn login btn-primary" %>
  <% end %>
</div>
