<%= bootstrap_form_for(@bid, url: bid_index_path(project_id: @project), method: :post) do |f| %>
  <%= f.text_field :amount, placeholder: "Enter amount", id: "amount"%><br>
  <%= f.text_area :comment, placeholder: "Enter any additional comments here" %><br>
  
  <div class="form-group" id="upload">
    <%= f.fields_for :attachments, @bid.attachments.build do |attachment| %>
      <%= attachment.file_field :upload %><br>
    <% end %>
  </div>
  <%= f.submit "Place Bid", class: "btn login btn-primary" %>
<% end %>
