<!DOCTYPE html>
<html>
  <head>
    <title>Corkboard</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <!-- <div class="container"> -->
      <div class="site-content"><%= yield %></div>
    <!-- </div> -->
    <%= render "layouts/footer" %>
  </body>
</html>
